<!DOCTYPE html>
<html lang="zh_CN" data-ng-app="WebApp">
<head>
    <title data-ng-bind="房屋统计"></title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <link href="resources/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="resources/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="resources/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="resources/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="resources/global/plugins/angularjs/plugins/angular-loading-bar/loading-bar.min.css" rel="stylesheet"
          type="text/css"/>

    <link href="resources/global/plugins/angularjs/plugins/ui-select/select.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="resources/global/plugins/jcrop/css/jquery.Jcrop.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="resources/global/css/components-md.min.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="resources/global/css/plugins-md.min.css" id="style_plugins" rel="stylesheet" type="text/css"/>

    <link href="resources/layouts/layout4/css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="resources/layouts/layout4/css/themes/default.css" rel="stylesheet" type="text/css"
          id="style_color"/>
    <link href="resources/layouts/layout4/css/custom.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-controller="BuildingCrtl">
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-puzzle"></i>
            <span class="caption-subject bold font-yellow-casablanca">统计分析</span>
            <span class="caption-helper">房屋基本信息</span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <button class="btn btn-circle-left btn-primary" ng-click="load()">刷新</button>
                <button class="btn btn-circle-right btn-primary" ng-click="download()">下载</button>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div style="width: 100%;margin:10px 0!important;text-align: center;">
            <table style="width:40%;table-layout: fixed;">
                <tr>
                    <td ng-repeat="item in headList">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked="checked" name="buildingCheck" ng-model="item.isShow" ng-true-value="1" ng-false-value="0" value="{{item.DIC_PY}}"/>{{item.DIC_NAME}}
                            </label>
                        </div>
                    </td>
                    <!--<td>-->
                        <!--<button style="display: none" class="btn btn-primary btn-sm" ng-click="getTableHead();">统计</button>-->
                    <!--</td>-->
                </tr>
            </table>
        </div>
        <div class="table-scrollable">
            <table class="table table-bordered table-hover">
                <tr>
                    <th class="text-center wid160px" rowspan="2">单位</th>
                    <th ng-repeat="item in headList" ng-show="item.isShow"   colspan="{{item.COL_SPAN}}" rowspan="1" class="text-center">{{item.DIC_NAME}}</th>
                    <!--<th ng-show="ctrlDisplay.isDanger" colspan="{{headListAttr.isDanger.COL_SPAN}}" rowspan="1" class="text-center">是否危房</th>-->
                    <!--<th ng-show="ctrlDisplay.isUsage" colspan="{{headListAttr.isUsage.COL_SPAN}}" rowspan="1" class="text-center">房屋用途</th>-->
                    <!--<th ng-show="ctrlDisplay.isRent" colspan="{{headListAttr.isRent.COL_SPAN}}" rowspan="1" class="text-center">出租房</th>-->
                </tr>
                <tr>
                    <td ng-repeat="(index,item) in dicList" ng-show="headList[item.type].isShow" class="text-center">{{item.DIC_NAME}}</td>
                </tr>
                <tr ng-repeat="item in list">
                    <td ng-click="expandAndHide($index, item)" style="cursor: pointer;">
                        <span style="margin-right: {{item.LEV*20}}px;"></span>
                        <span class="font-blue margin-right-10">
                                        <i class="fa {{item.ISLEAF == 'true'? 'fa-genderless' : item.expanded? 'fa-chevron-down' : 'fa-chevron-right'}}"></i>
                                    </span>
                        {{item.ORGNAME}}
                    </td>
                    <td  ng-show="headList[0].isShow" class="text-center">{{item.SFWF_1}}</td>
                    <td ng-show="headList[0].isShow" class="text-center">{{item.SFWF_0}}</td>
                    <td ng-show="headList[1].isShow" class="text-center">{{item.FWYTDM_10}}</td>
                    <td ng-show="headList[1].isShow" class="text-center">{{item.FWYTDM_20}}</td>
                    <td ng-show="headList[1].isShow" class="text-center">{{item.FWYTDM_30}}</td>
                    <td ng-show="headList[1].isShow" class="text-center">{{item.FWYTDM_40}}</td>
                    <td ng-show="headList[1].isShow" class="text-center">{{item.FWYTDM_50}}</td>
                    <td ng-show="headList[1].isShow" class="text-center">{{item.FWYTDM_60}}</td>
                    <td ng-show="headList[1].isShow" class="text-center">{{item.FWYTDM_70}}</td>
                    <td ng-show="headList[1].isShow" class="text-center">{{item.FWYTDM_80}}</td>
                    <td ng-show="headList[2].isShow" class="text-center">{{item.SFCZFW_1}}</td>
                    <td ng-show="headList[2].isShow" class="text-center">{{item.SFCZFW_0}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!--[if lt IE 9]>
<script src="resources/global/plugins/respond.min.js"></script>
<script src="resources/global/plugins/excanvas.min.js"></script>
<script src="resources/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
<script src="resources/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="resources/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="resources/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
        type="text/javascript"></script>
<script src="resources/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="resources/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<!-- END CORE JQUERY PLUGINS -->

<!-- BEGIN BOOTSTRAP PLUGINS -->
<script src="resources/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="resources/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"
        type="text/javascript"></script>
<script src="resources/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>
<script src="resources/global/plugins/bootstrap-sessiontimeout/bootstrap-session-timeout.min.js"
        type="text/javascript"></script>
<!-- END BOOTSTRAP PLUGINS -->

<!-- BEGIN CORE ANGULARJS PLUGINS -->
<script src="resources/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>
<script src="resources/global/plugins/angularjs/angular-locale_zh-cn.js" type="text/javascript"></script>
<script src="resources/global/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
<script src="resources/global/plugins/angularjs/angular-touch.min.js" type="text/javascript"></script>
<script src="resources/global/plugins/angularjs/plugins/angular-ui-router.min.js"
        type="text/javascript"></script>
<script src="resources/global/plugins/angularjs/plugins/ocLazyLoad.min.js" type="text/javascript"></script>
<script src="resources/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js"
        type="text/javascript"></script>
<script src="resources/global/plugins/angularjs/angular-strap.min.js" type="text/javascript"></script>
<script src="resources/global/plugins/angularjs/angular-strap.tpl.min.js" type="text/javascript"></script>
<script src="resources/global/plugins/angularjs/plugins/angular-loading-bar/loading-bar.min.js"
        type="text/javascript"></script>
<script src="resources/global/plugins/angularjs/plugins/ui-select/select.min.js"
        type="text/javascript"></script>
<script src="resources/global/plugins/angularjs/plugins/angular-bootstrap-switch.min.js"
        type="text/javascript"></script>
<!-- END CORE ANGULARJS PLUGINS -->

<!-- BEGIN OTHER JAVASCRIPT PLUGINS -->
<script src="resources/global/plugins/jcrop/js/jquery.color.js" type="text/javascript"></script>
<script src="resources/global/plugins/jquery-validation/js/jquery.validate.min.js"
        type="text/javascript"></script>
<script src="resources/global/plugins/jquery-validation/js/additional-methods.min.js"
        type="text/javascript"></script>
<script src="resources/global/plugins/jquery-validation/js/localization/messages_zh.min.js"
        type="text/javascript"></script>
<script src="resources/global/plugins/jcrop/js/jquery.Jcrop.min.js" type="text/javascript"></script>
<script src="resources/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
<script src="resources/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"
        type="text/javascript"></script>
<!-- END OTHER JAVASCRIPT PLUGINS -->

<!-- BEGIN APP LEVEL ANGULARJS SCRIPTS -->
<script src="js/main.js" type="text/javascript"></script>
<script src="js/ctrl/buildingCrtl.js" type="text/javascript"></script>
<!-- END APP LEVEL ANGULARJS SCRIPTS -->
</body>
</html>
